/coop/*
/ai.cfg
/buypresets*
/*360*
/config_default.cfg
/control*
/default.cfg
/entity.cfg
/game.cfg
/gamemode_*
/gameps3.cfg
/give_all_items.cfg
/lab.cfg
/listenserver.cfg
/map_edit.cfg
/*_level_*
/moddefaults*
/modsettings.cfg
/nav_bindings.cfg
/navedit.cfg
/server_blacklist.txt
/settings_default.scr
/sfm_defaultanimationgroups.txt
/start.cfg
/steering_wheel.cfg
/test.cfg
/thirdperson*
/user_default.scr
/valve.rc
