/coop/*
/ai.cfg
/buypresets*
/*360*
/control*
/default.cfg
/entity.cfg
/game.cfg
/gamemode_*
/gameps3.cfg
/give_all_items.cfg
/lab.cfg
/listenserver.cfg
/map_edit.cfg
/*_level_*
/moddefaults*
/mod_settings.cfg
/nav_bindings.cfg
/navedit.cfg
/server_blacklist
/settings_default
/sfm_defaultanimatongroups
/start.cfg
/steering_wheel.cfg
/test.cfg
/thirdpreson*
/user_default
/valve.rc
